body {
  background-color: #6096ff;
}
.dino {
  width: 60px;
  height: 60px;
  background-image: url(img/mario.png);
  position: absolute;
  bottom: 0;
}
.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(img/goomba.png);
  bottom: 0;
}
.game-over {
  text-align: center;
  color: black;
  margin-top: 50px;
  font-family: arial;
}
@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0;
  }
}
.background {
  position: absolute;
  bottom: 0;
  background-image: url(img/supermario.png);
  background-repeat: repeat-x;
  animation: slideright 900s infinite linear;
  width: 100%;
  height: 1000px;
}
